#################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
.sonarqube/
obj/
bin/
.DS_Store
*.user
*.zip
*.suo